<!DOCTYPE html>
<html>
   <head></head>
   <body>
   <h1>Club Deportivo</h1>   
   <h2>Listado de enlaces</h2>
   <ul>
      <li><a href="{% url 'mostrar_usuario' %}">Muestra Usuarios</a></li>
      <li><a href="{% url 'mostrar_entrenador' %}">Muestra Entrenadores</a></li>
      <li><a href="{% url 'mostrar_entrenador_salario' %}">Mostrar Entrenadores según salaio (de mayor a menor)</a></li>
      <li><a href="{% url 'mostrar_participacion' puntos_participacion=26 %}">Mostrar Participaciones donde los puntos conseguidos sen mayor que 20 y menor que 30</a></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
   </ul>
   </body>
</html>
