<!DOCTYPE html>
<html>
   <head></head>
   <body>
   <h1>Club Deportivo</h1>   
   <h2>Listado de enlaces</h2>
   <ul>
      <li><a href="{% url 'mostrar_usuario' %}">Muestra Usuarios</a></li>
      <li><a href="{% url 'mostrar_entrenador' %}">Muestra Entrenadores</a></li>
      <li><a href="{% url 'mostrar_entrenador_salario' %}">Mostrar Entrenadores según salaio (de mayor a menor)</a></li>
      <li><a href="{% url 'mostrar_participacion' puntos_participacion=26 %}">Mostrar Participaciones donde los puntos conseguidos sen mayor que 20 y menor que 30</a></li>
      <li><a href="{% url 'entrenadores_con_salario' salario=2000 %}">Mostrar Entrenadores con salario mayor a 2000€ o experiencia mayor a 5 años</a></li>
      <li><a href="{% url 'equipos_sin_participaciones' %}">Mostrar Equipos sin Participaciones</a></li>
      <li><a href="{% url 'participaciones_por_torneo' torneo_id=1 %}">Mostrar Participaciones de un torneo específico</a></li>

   </ul>
   </body>
</html>
